*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html,
body {
  font-size: 62.5%;
  font-family: "Open Sans" !important;
  box-sizing: border-box;
}

.space-1 {
  height: 1rem;
  width: 100%;
}

.space-2 {
  height: 2rem;
  width: 100%;
}

.space-3 {
  height: 3rem;
  width: 100%;
}

.space-4 {
  height: 4rem;
  width: 100%;
}

h2 {
  font-size: 3.88rem !important;
  font-weight: 500 !important;
  line-height: 5rem !important;
  z-index: 200 !important;
  color: $secondary !important;

  @media (max-width: 576px) {
    text-align: center !important;
  }

  @media (min-width: 576px) {
    text-align: center !important;
  }

  @media (min-width: 768px) {
    text-align: left !important;
  }

  @media (min-width: 992px) {
  }

  @media (min-width: 1200px) {
  }
}

h3 {
  font-size: 1.87rem !important;
  font-weight: 600 !important;
  line-height: 2.89rem !important;
  color: $secondary !important;

  @media (max-width: 576px) {
    text-align: center !important;
  }

  @media (min-width: 576px) {
    text-align: center !important;
  }

  @media (min-width: 768px) {
    text-align: left !important;
  }
}

p {
  font-size: 1.56rem !important;
  font-weight: 600 !important;
  line-height: 2.4rem !important;
  color: $secondary !important;

  @media (max-width: 576px) {
    text-align: center !important;
  }

  @media (min-width: 576px) {
    text-align: center !important;
  }

  @media (min-width: 768px) {
    text-align: left !important;
  }
}
