.header {
  min-height: 100vh;
  height: max-content;
  color: white;

  background-image: linear-gradient(rgba(50, 53, 59, 0.34)),
    url(../assets/santamaria.jpg);
  background-size: cover;
  background-position: bottom;

  &__row {
    position: relative;
  }

  &__heading {
    @media (max-width: 576px) {
      font-size: 3.2rem;
    }
    @media (min-width: 576px) {
      font-size: 3.8rem;
    }
    @media (min-width: 768px) {
      font-size: 5.6rem;
    }
  }

  &__text {
    text-align: left;
    @media (max-width: 576px) {
      font-size: 1.5rem;
    }
    @media (min-width: 576px) {
      font-size: 1.5rem;
    }
    @media (min-width: 768px) {
      width: 80%;
      font-size: 1.8rem;
    }
    @media (min-width: 992px) {
      width: 60%;
    }
  }

  &__form-wrapper {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    background-color: white;
    padding: 0.5rem;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 2rem black;
    @media (max-width: 576px) {
      width: 100%;
    }
    @media (min-width: 576px) {
      width: 100%;
    }
    @media (min-width: 768px) {
      width: 80%;
    }
    @media (min-width: 992px) {
      width: 60%;
    }
  }

  &__email {
    flex: 2;
    font-size: 1.56rem;
    font-style: italic;
    border-radius: 0.2rem;
    border: none;
    padding: 0.4rem;
    padding-left: 1.6rem;
    height: 5.5rem;
  }

  .btn-default {
    padding: 1rem 1.5rem;
    background-color: $accent;
    color: white;

    margin-left: 1rem;
    border-radius: 0.5rem;
    text-align: center;
    text-transform: uppercase;
    &:hover {
      color: $accent;
      border: 1px solid $accent;
      background-color: white;
    }

    @media (max-width: 576px) {
      font-size: 0rem;
    }
    @media (min-width: 576px) {
      font-size: 0rem;
    }
    @media (min-width: 768px) {
      font-size: 1.3rem;
      font-weight: 700;
      line-height: 2rem;
    }
  }

  &__glyph {
    padding: 0rem 1rem;
    font-size: 2rem;
    font-weight: 700;
  }

  &__subtext {
    font-size: 1.3rem;
    font-weight: 100;
    margin-top: 1rem;
  }
}

.companies {
  min-height: 80vh;
  height: max-content;
  background-color: $primary;

  &__content {
    min-height: 75vh;
    height: max-content;
  }

  &__heading {
    font-size: 3.88rem;
    font-weight: 500;
    color: $secondary;
    text-align: center;
  }

  &__cards-wrapper {
    display: flex;
    justify-content: center;

    @media (max-width: 576px) {
      flex-flow: column;
    }
    @media (min-width: 576px) {
      flex-flow: column;
    }
    @media (min-width: 768px) {
      flex-flow: row wrap;
    }
  }

  &__card {
    display: flex;
    flex-flow: column;
    justify-content: center;
    flex: 1;
    margin: 0.5rem;
    padding: 2rem;
    border-radius: 0.5rem;
    background-color: white;
    box-shadow: 0.2rem 0.2rem 1.5rem 0.2rem lightgray;
    text-align: center;
    color: $secondary;
  }

  &__number {
    font-size: 4.65rem;
    font-weight: 800;
  }

  &__text {
    font-size: 2.24rem;
    font-weight: 500;
  }

  &__line {
    border: 5px solid $secondary;
  }

  &__subtext {
    font-size: 2.24rem;
    font-weight: 400;
    color: $secondary;
  }

  &__logo-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    margin-top: 2rem;
  }
}

.browse {
  min-height: 75vh;
  height: max-content;

  &__row {
    margin: 5rem 0rem;
  }

  &__left {
    display: flex;
    flex-flow: column;
    justify-content: center;

    @media (max-width: 576px) {
      align-items: center;
    }

    @media (min-width: 576px) {
      align-items: center;
    }

    @media (min-width: 768px) {
      align-items: flex-start;
    }
  }

  &__right {
    position: relative;
  }

  .btn-default {
    @include accent-button;
  }

  &__buttons-wrapper {
    display: flex;

    @media (max-width: 576px) {
      flex-flow: row wrap;
      justify-content: center;
    }

    @media (min-width: 576px) {
      flex-flow: row wrap;
      justify-content: center;
    }

    @media (min-width: 768px) {
      flex-flow: row wrap;
      justify-content: flex-start;
    }
  }

  .btn-second {
    @include secondary-button;
  }

  &__image-users {
    z-index: 2;

    @media (max-width: 576px) {
      margin-top: 5rem;
    }

    @media (min-width: 576px) {
      margin-top: 5rem;
    }

    @media (min-width: 992px) {
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      min-width: 60vw;
      width: max-content;
      min-height: 70vh;
      height: max-content;
    }

    @media (min-width: 1200px) {
      position: absolute;
      top: 50%;
      left: 70%;
      transform: translate(-50%, -50%);
      max-width: 55vw;
      width: max-content;
      min-height: 80vh;
      height: max-content;
    }
  }

  &__image-user {
    z-index: 3;

    @media (max-width: 576px) {
      position: absolute;
      top: 60%;
      left: 50%;
      transform: translate(-50%, -50%);
      min-width: 15vw;
      width: max-content;
      min-height: 5vh;
      height: max-content;
    }

    @media (min-width: 576px) {
      position: absolute;
      top: 60%;
      left: 50%;
      transform: translate(-50%, -50%);
      min-width: 15vw;
      width: max-content;
      min-height: 5vh;
      height: max-content;
    }

    @media (min-width: 992px) {
      position: absolute;
      top: 55%;
      left: 50%;
      transform: translate(-50%, -50%);
      min-width: 40vw;
      width: max-content;
      min-height: 15vh;
      height: max-content;
    }

    @media (min-width: 1200px) {
      position: absolute;
      top: 67%;
      left: 70%;
      transform: translate(-50%, -50%);
      max-width: 35vw;
      width: max-content;
      min-height: 15vh;
      height: max-content;
    }
  }
}

.post {
  min-height: 90vh;
  height: max-content;

  &__row {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  &__left {
    position: relative;
    display: flex;

    @media (max-width: 576px) {
      order: 2;
    }

    @media (min-width: 576px) {
      order: 2;
    }

    @media (min-width: 768px) {
      order: 2;
    }
    @media (min-width: 992px) {
      order: 1;
    }
  }

  .btn-default {
    @include accent-button;
  }

  &__image-mobile {
    z-index: 2;

    @media (max-width: 576px) {
      margin-top: 5rem;
    }

    @media (min-width: 576px) {
      margin-top: 5rem;
    }

    @media (min-width: 992px) {
      position: absolute;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%);
      min-width: 50vw;
      width: max-content;
      min-height: 60vh;
      height: max-content;
    }

    @media (min-width: 1200px) {
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      min-width: 20vw;
      width: max-content;
      min-height: 20vh !important;
      height: max-content;
    }
  }

  &__image-mobileview {
    z-index: 3;

    @media (max-width: 576px) {
      position: absolute;
      top: 55%;
      left: 50%;
      transform: translate(-50%, -50%);
      min-width: 20vw;
      width: min-content;
      min-height: 20vh;
      height: min-content;
    }

    @media (min-width: 576px) {
      position: absolute;
      top: 55%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 30vw;
      width: max-content;
      max-height: 40vh;
      height: max-content;
    }

    @media (min-width: 768px) {
      position: absolute;
      top: 55%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 30vw;
      width: max-content;
      max-height: 60vh;
      height: max-content;
    }

    @media (min-width: 992px) {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 35vw;
      width: max-content;
      max-height: 50vh;
      height: max-content;
    }
  }

  &__right {
    display: flex;
    justify-content: center;
    order: 1;

    @media (max-width: 576px) {
      flex-flow: column;
      align-items: center;
    }

    @media (min-width: 576px) {
      flex-flow: column;
      align-items: center;
    }

    @media (min-width: 768px) {
      align-items: flex-start;
    }
  }
}

.offer {
  min-height: 90vh;
  height: max-content;
  background-color: $primary;

  &__left {
    display: flex;
    flex-flow: column;

    @media (max-width: 576px) {
      align-items: center;
    }

    @media (min-width: 576px) {
      align-items: center;
    }

    @media (min-width: 768px) {
      align-items: flex-start;
    }
  }

  &__right {
    position: relative;
  }

  .btn-default {
    @include accent-button;
  }

  &__buttons-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
  }

  .btn-second {
    @include secondary-button;
  }

  &__image-cards {
    z-index: 2;

    @media (max-width: 576px) {
      margin-top: 5rem;
    }

    @media (min-width: 576px) {
      margin-top: 5rem;
    }

    @media (min-width: 992px) {
      position: absolute;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%);
      min-width: 50vw;
      width: max-content;
      min-height: 60vh;
      height: max-content;
    }

    @media (min-width: 1200px) {
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      min-width: 20vw;
      width: max-content;
      min-height: 20vh;
      height: max-content;
    }
  }

  &__image-card {
    z-index: 3;

    @media (max-width: 576px) {
      margin-top: 5rem;
      position: absolute;
      top: 65%;
      left: 50%;
      transform: translate(-50%, -50%);
      min-width: 5vw;
      width: min-content;
      min-height: 25vh;
      height: min-content;
    }

    @media (min-width: 576px) {
      position: absolute;
      top: 65%;
      left: 50%;
      transform: translate(-50%, -50%);
      min-width: 5vw;
      width: min-content;
      min-height: 35vh;
      height: min-content;
    }

    @media (min-width: 768px) {
      position: absolute;
      top: 65%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 10vw;
      width: max-content;
      min-height: 55vh;
      height: max-content;
    }

    @media (min-width: 992px) {
      position: absolute;
      top: 60%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 10vw;
      width: max-content;
      min-height: 55vh;
      height: max-content;
    }

    @media (min-width: 1200px) {
      position: absolute;
      top: 65%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 10vw;
      width: max-content;
      min-height: 60vh;
      height: max-content;
    }
  }
}

.trust {
  min-height: 85vh;
  height: max-content;

  &__row {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  &__left {
    display: flex;

    @media (max-width: 576px) {
      order: 2;
    }

    @media (min-width: 576px) {
      order: 2;
    }

    @media (min-width: 768px) {
      order: 2;
    }
    @media (min-width: 992px) {
      order: 1;
    }
  }

  &__right {
    margin-top: 5rem;
    position: relative;
    order: 1;
    display: flex;
    justify-content: center;

    @media (max-width: 576px) {
      flex-flow: column;
      align-items: center;
    }

    @media (min-width: 576px) {
      flex-flow: column;
      align-items: center;
    }

    @media (min-width: 768px) {
      align-items: flex-start;
    }
  }

  .btn-default {
    @include accent-button;
  }

  &__image-comments {
    z-index: 2;
  }

  &__image-comment {
    z-index: 3;

    @media (max-width: 576px) {
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      min-width: 65vw;
      width: max-content;
      min-height: 30vh;
      height: max-content;
    }

    @media (min-width: 576px) {
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      min-width: 65vw;
      width: max-content;
      min-height: 30vh;
      height: max-content;
    }

    @media (min-width: 768px) {
      position: absolute;
      top: 35%;
      left: 50%;
      transform: translate(-50%, -50%);
      min-width: 60vw;
      width: max-content;
      min-height: 35vh;
      height: max-content;
    }

    @media (min-width: 992px) {
      position: absolute;
      top: 35%;
      left: 50%;
      transform: translate(-50%, -50%);
      min-width: 60vw;
      width: max-content;
      min-height: 35vh;
      height: max-content;
    }

    @media (min-width: 1200px) {
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      min-width: 20vw;
      width: max-content;
      min-height: 20vh;
      height: max-content;
    }
  }
}

.control {
  min-height: 70vh;
  height: max-content;

  &__left {
    display: flex;
    flex-flow: column;
    justify-content: center;
  }

  &__right {
    position: relative;
  }

  .btn-default {
    @include accent-button;
  }

  &__image-review {
    @media (max-width: 576px) {
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      min-width: 65vw;
      width: max-content;
      min-height: 30vh;
      height: max-content;
    }

    @media (min-width: 576px) {
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      min-width: 65vw;
      width: max-content;
      min-height: 30vh;
      height: max-content;
    }

    @media (min-width: 768px) {
      position: absolute;
      top: 35%;
      left: 50%;
      transform: translate(-50%, -50%);
      min-width: 60vw;
      width: max-content;
      min-height: 35vh;
      height: max-content;
    }

    @media (min-width: 992px) {
      position: absolute;
      top: 35%;
      left: 50%;
      transform: translate(-50%, -50%);
      min-width: 60vw;
      width: max-content;
      min-height: 35vh;
      height: max-content;
    }

    @media (min-width: 1200px) {
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      min-width: 20vw;
      width: max-content;
      min-height: 20vh;
      height: max-content;
    }
  }
}

.funds {
  min-height: 100vh;
  height: max-content;
  background-color: $primary;

  &__container {
    min-height: 80vh;
    height: max-content;
  }

  &__content-one {
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 576px) {
      flex-flow: column;
    }

    @media (min-width: 576px) {
      flex-flow: column;
    }

    @media (min-width: 768px) {
      flex-flow: row;
    }

    @media (min-width: 992px) {
    }

    @media (min-width: 1200px) {
    }
  }

  &__row {
    display: flex;

    justify-content: center;

    @media (max-width: 576px) {
      flex-flow: column;
    }

    @media (min-width: 576px) {
      flex-flow: column;
    }

    @media (min-width: 768px) {
      flex-flow: row wrap;
      align-items: center;
    }

    @media (min-width: 992px) {
    }

    @media (min-width: 1200px) {
    }
  }

  &__image {
    @media (max-width: 576px) {
      margin-right: 0rem;
      margin-bottom: 2rem;
    }

    @media (min-width: 576px) {
      margin-right: 0rem;
      margin-bottom: 2rem;
    }

    @media (min-width: 768px) {
      margin-right: 5rem;
    }
  }

  &__heading-three {
    @media (max-width: 576px) {
      text-align: center !important;
    }

    @media (min-width: 576px) {
      text-align: center !important;
    }
    @media (min-width: 768px) {
      text-align: left !important;
    }
  }

  &__heading {
    @media (max-width: 576px) {
      text-align: center !important;
      margin-bottom: 2rem;
    }

    @media (min-width: 576px) {
      text-align: center !important;
      margin-bottom: 2rem;
    }
    @media (min-width: 768px) {
      text-align: left !important;
    }
  }

  &__para {
    @media (max-width: 576px) {
      text-align: center !important;
    }

    @media (min-width: 576px) {
      text-align: center !important;
    }
    @media (min-width: 768px) {
      text-align: left !important;
    }
  }

  &__content {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
  }

  &__sub-image {
    align-self: center;

    @media (max-width: 576px) {
      margin-right: 2rem;
    }

    @media (min-width: 576px) {
      margin-right: 2rem;
    }

    @media (min-width: 768px) {
      // margin-left: 1rem;
      margin-right: 0.75rem;
    }

    @media (min-width: 992px) {
      margin-left: 2rem;
      margin-right: 1.5rem;
    }

    @media (min-width: 1200px) {
      margin-left: 4rem;
      margin-right: 3rem;
    }
  }

  &__sub-heading {
    color: $secondary;
    font-size: 1.56rem;
    font-weight: 600;
    margin-bottom: 1rem;

    @media (max-width: 576px) {
      margin-top: 3rem;
    }

    @media (min-width: 576px) {
      margin-top: 3rem;
    }
  }

  &__text {
    color: $secondary;
    font-size: 1.3rem;
    font-weight: 400;
  }

  .btn-default {
    @include accent-button;
    width: 100%;
    border-radius: 0.2rem;
    padding: 1.5rem 4rem;
    font-size: 1.6rem;
    box-shadow: rgba(62, 63, 65, 0.25) 0rem 0.2rem 0.6rem 0rem;
  }

  &__button-text {
    font-size: 1.3rem;
    font-weight: 600;
    color: #98999c;
    margin-top: 1rem;
    line-height: 15px;
  }
}

.expert {
  min-height: 40vh;
  height: max-content;
  background-color: #ff941a;

  &__heading {
    color: white !important;
    text-align: center !important;
  }

  &__text {
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 2rem;
    color: white !important;
    text-align: center !important;
  }

  .btn-default {
    background-color: white;
    color: $accent;
    margin-top: 4rem;
    border-radius: 0.2rem;
    padding: 1.5rem 1rem;
    font-size: 1.6rem;
    font-weight: 600;
    text-transform: uppercase;
    box-shadow: rgba(62, 63, 65, 0.25) 0rem 0.2rem 0.6rem 0rem;
    &:hover {
      background-color: $accent;
      color: white;
    }
  }

  &__button-text {
    font-size: 1.4rem;
    font-weight: 500;
    color: white;
    margin-top: 1rem;
    line-height: 15px;
    text-align: center !important;
  }
}

.footer {
  min-height: 60vh;
  height: max-content;
  background-color: $tertiary;

  @media (max-width: 576px) {
  }

  @media (min-width: 576px) {
  }

  @media (min-width: 768px) {
  }

  @media (min-width: 992px) {
  }

  @media (min-width: 1200px) {
  }

  &__content {
    min-height: 60vh;
    height: max-content;
  }

  &__sub-container {
    display: flex;

    justify-content: space-between;

    @media (max-width: 576px) {
      flex-flow: column;
    }

    @media (min-width: 576px) {
      flex-flow: column;
    }

    @media (min-width: 768px) {
      flex-flow: row wrap;
    }
  }

  &__menu {
    margin-bottom: 3rem;
  }

  &__heading {
    color: #ecedef;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 600;
    padding: 0.48rem 0rem 1.2rem 0rem;
  }

  &__text {
    font-size: 1.5rem;
    color: #98999c;
    line-height: 1.95rem;
    padding: 1.2rem 0rem;
    transition: all 0.5s ease;

    &:hover {
      transition: all 0.5s ease;
      color: white;
      text-decoration: underline;
      cursor: pointer;
    }
  }

  &__icons-container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    width: max-content;

    @media (max-width: 576px) {
      min-width: 40%;
    }

    @media (min-width: 576px) {
      min-width: 50%;
    }

    @media (min-width: 768px) {
      min-width: 30%;
    }

    @media (min-width: 992px) {
      min-width: 25%;
    }

    @media (min-width: 1200px) {
      min-width: 20%;
    }
  }

  &__terms-container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;

    width: max-content;

    @media (max-width: 576px) {
      min-width: 80%;
    }

    @media (min-width: 576px) {
      min-width: 70%;
    }

    @media (min-width: 768px) {
      min-width: 40%;
    }

    @media (min-width: 992px) {
      min-width: 35%;
    }

    @media (min-width: 1200px) {
      min-width: 30%;
    }
  }

  &__icon {
    font-size: 1.2rem;
    fill: #98999c;
    line-height: 1.95rem;
    transition: all 0.5s ease;
    &:hover {
      transition: all 0.5s ease;
      fill: white;

      cursor: pointer;
    }
  }

  &__item {
    font-size: 1.2rem;
    color: #98999c;
    line-height: 1.95rem;
    transition: all 0.5s ease;
    &:hover {
      transition: all 0.5s ease;
      color: white;
      text-decoration: underline;
      cursor: pointer;
    }
  }

  &__copy {
    font-size: 1.2rem;
    color: #98999c;
    line-height: 1.95rem;
  }
}
