.companies {
  min-height: 80vh;
  height: max-content;
  background-color: $primary;

  &__content {
    min-height: 75vh;
    height: max-content;
  }

  &__heading {
    font-size: 3.88rem;
    font-weight: 500;
    color: $secondary;
    text-align: center;
  }

  &__cards-wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  &__card {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    padding: 5rem;
    border-radius: 0.5rem;
    background-color: white;
    box-shadow: 0.2rem 0.2rem 1.5rem 0.2rem lightgray;
    text-align: center;
    color: $secondary;
  }

  &__number {
    font-size: 4.65rem;
    font-weight: 800;
  }

  &__text {
    font-size: 2.24rem;
    font-weight: 500;
  }

  &__line {
    border: 5px solid $secondary;
  }

  &__subtext {
    font-size: 2.24rem;
    font-weight: 400;
    color: $secondary;
  }

  &__logo-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }
}

.browse {
  min-height: 75vh;
  height: max-content;

  &__row {
    margin: 5rem 0rem;
  }

  &__right {
    position: relative;
  }

  .btn-default {
    @include accent-button;
  }

  &__buttons-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
  }

  .btn-second {
    @include secondary-button;
  }

  &__image-users {
    position: absolute;
    top: 70%;
    left: 100%;
    transform: translate(-50%, -50%);
    min-width: 54vw;
    width: max-content;
    min-height: 80vh;
    height: max-content;
    z-index: 2;
    overflow: hidden !important;
  }

  &__image-user {
    position: absolute;
    top: 60%;
    left: 100%;
    transform: translate(-50%, -50%);
    min-width: 35vw;
    width: max-content;
    min-height: 15vh;
    height: max-content;
    z-index: 3;
  }
}

.post {
  min-height: 75vh;
  height: max-content;

  &__left {
    position: relative;
  }

  .btn-default {
    @include accent-button;
  }

  &__image-mobile {
    position: absolute;
    top: 60%;
    left: 40%;
    transform: translate(-50%, -50%);
    max-width: 50vw;
    width: max-content;
    max-height: 100vh;
    height: max-content;
    z-index: 2;
  }

  //   &__image-mobile {
  //     position: absolute;
  //     top: 60%;
  //     left: 40%;
  //     transform: translate(-50%, -50%);
  //     min-width: 37.5vw;
  //     width: max-content;
  //     min-height: 75vh;
  //     height: max-content;
  //     z-index: 2;
  //   }
}

.offer {
  min-height: 75vh;
  height: max-content;
  background-color: $primary;

  &__right {
    position: relative;
  }

  .btn-default {
    @include accent-button;
  }

  &__buttons-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
  }

  .btn-second {
    @include secondary-button;
  }

  &__image-cards {
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    max-width: 50vw;
    width: max-content;
    max-height: 100vh;
    height: max-content;
    z-index: 2;
  }

  //   &__image-mobile {
  //     position: absolute;
  //     top: 60%;
  //     left: 40%;
  //     transform: translate(-50%, -50%);
  //     min-width: 37.5vw;
  //     width: max-content;
  //     min-height: 75vh;
  //     height: max-content;
  //     z-index: 2;
  //   }
}

.trust {
  min-height: 85vh;
  height: max-content;

  &__right {
    position: relative;
  }

  .btn-default {
    @include accent-button;
  }

  &__image-comments {
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    max-width: 80vw;
    width: max-content;
    max-height: 80vh;
    height: max-content;
    z-index: 2;
    overflow: hidden !important;
  }

  //   &__image-mobile {
  //     position: absolute;
  //     top: 60%;
  //     left: 40%;
  //     transform: translate(-50%, -50%);
  //     min-width: 37.5vw;
  //     width: max-content;
  //     min-height: 75vh;
  //     height: max-content;
  //     z-index: 2;
  //   }
}

.control {
  min-height: 85vh;
  height: max-content;

  &__right {
    position: relative;
  }

  .btn-default {
    @include accent-button;
  }

  &__image-reviews {
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    max-width: 80vw;
    width: max-content;
    max-height: 80vh;
    height: max-content;
    z-index: 2;
    overflow: hidden !important;
  }

  //   &__image-mobile {
  //     position: absolute;
  //     top: 60%;
  //     left: 40%;
  //     transform: translate(-50%, -50%);
  //     min-width: 37.5vw;
  //     width: max-content;
  //     min-height: 75vh;
  //     height: max-content;
  //     z-index: 2;
  //   }
}

.funds {
  min-height: 100vh;
  height: max-content;
  background-color: $primary;

  &__container {
    min-height: 80vh;
    height: max-content;
  }

  &__content-one {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
  }

  &__image {
    margin-right: 5rem;
  }

  &__content {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
  }

  &__sub-image {
    margin-left: 4rem;
    margin-right: 3rem;
  }

  &__sub-heading {
    color: $secondary;
    font-size: 1.56rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }

  &__text {
    color: $secondary;
    font-size: 1.3rem;
    font-weight: 400;
  }

  .btn-default {
    @include accent-button;
    width: 100%;
    border-radius: 0.2rem;
    padding: 1.5rem 4rem;
    font-size: 1.6rem;
    box-shadow: rgba(62, 63, 65, 0.25) 0rem 0.2rem 0.6rem 0rem;
  }

  &__button-text {
    font-size: 1.3rem;
    font-weight: 600;
    color: #98999c;
    margin-top: 1rem;
    line-height: 15px;
  }
}

.expert {
  min-height: 40vh;
  height: max-content;
  background-color: #ff941a;

  &__heading {
    color: white !important;
  }

  &__text {
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 2rem;
    color: white !important;
  }

  .btn-default {
    @include accent-button;
    background-color: white;
    color: #ff941a;
    margin-top: 4rem;
    border-radius: 0.2rem;
    padding: 1.5rem 1rem;
    font-size: 1.6rem;
    box-shadow: rgba(62, 63, 65, 0.25) 0rem 0.2rem 0.6rem 0rem;
    &:hover {
      background-color: $accent;
      color: white;
    }
  }

  &__button-text {
    font-size: 1.4rem;
    font-weight: 500;
    color: white;
    margin-top: 1rem;
    line-height: 15px;
  }
}

.footer {
  min-height: 60vh;
  height: max-content;
  background-color: $tertiary;

  &__content {
    min-height: 60vh;
    height: max-content;
  }

  &__sub-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  &__heading {
    color: #ecedef;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 600;
    padding: 0.48rem 0rem 1.2rem 0rem;
  }

  &__text {
    font-size: 1.5rem;
    color: #98999c;
    line-height: 1.95rem;
    padding: 1.2rem 0rem;
    transition: all 0.5s ease;

    &:hover {
      transition: all 0.5s ease;
      color: white;
      text-decoration: underline;
      cursor: pointer;
    }
  }

  &__icons-container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    min-width: 25%;
    width: max-content;
  }

  &__terms-container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    min-width: 30%;
    width: max-content;
  }

  &__icon {
    font-size: 1.2rem;
    color: #98999c;
    line-height: 1.95rem;
  }

  &__item {
    font-size: 1.2rem;
    color: #98999c;
    line-height: 1.95rem;
    transition: all 0.5s ease;
    &:hover {
      transition: all 0.5s ease;
      color: white;
      text-decoration: underline;
      cursor: pointer;
    }
  }

  &__copy {
    font-size: 1.2rem;
    color: #98999c;
    line-height: 1.95rem;
  }
}
